<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Camera</title>
    <style>
      * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", (e) => {
        const stream = document.getElementById("video-stream");

        height = window.screen.availHeight;
        width = window.screen.availWidth;

        if (height > width) {
          stream.width = `${height}px`;
          stream.height = `${width}px`;
          return;
        }

        stream.width = `${width}px`;
        stream.height = `${height}px`;
      });
    </script>
  </head>
  <body>
    <img
      class="video-stream"
      id="video-stream"
      src="{{ url_for('video') }}"
      alt="Video Stream from Camera"
    />
  </body>
</html>
